/.github/
/.vscode/
/node_modules/
/build/
/tmp/
.idea/*
/docs/

coverage
*.log
.gitlab-ci.yml

package-lock.json
/*.tgz
/tmp*
/mnt/
/package/

packages/*
!packages/stark-browser-config
!packages/stark-core-config
!packages/stark-edge-config